body {
    margin: 0;
}

#controls {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playstop {
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}