#webcam-dropdown { 
    display: block; 
}

#bern {
    width: 200px;
    height: 200px;
}

#container{
    transform: scale(2);
    margin-left:600px;
}

#myCanvas {
    width: 200px;
    height: 200px;
    transform: scale(-1, 1);
    align-content: center;
    display: none;
    /* posti */
}
#myCanvas2 {
    width: 200px;
    height: 200px;
    transform: scale(-1, 1);
    align-content: center;
    /* display: none; */
    /* posti */
}

video{
    display: none;
    width: 200px;
    height: 200px;
}