html, body {
    margin : 0;
    height: 100%;
    width: 100%;
}

#webcam-dropdown { 
    display: block; 
}

#bern {
    width: 257px;
    height: 200px;
}

#container{
    transform: scale(2);
    margin-left: 400px;
    position : relative;

}

#camCanvas{
    width: 257px;
    height: 200px;
    transform: scale(-1, 1);
    align-content: center;
}

#div1 {
    position : absolute;
    top : 0;
    left : 0;
}

video{
    display: none;
    width: 257px;
    height: 200px;
}